/* ---------------------------- START NAV BAR ---------------------------- */

.main-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    transform-style: preserve-3d;
    z-index: -1;
}

.parallax-background {
    transform: translateZ(-20px) scale(4);
}

.parallax-background,
.parallax-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#app-title {
    position: absolute;
    margin-top: -400px;
    font-size: 5em;
    color: #6bbfff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateZ(-15px) scale(2);
}

.no-data-message {
    color: #6bbfff82;
}

/* ANT DESIGN COMPONENTS STYLING */

.stack-container {
    overflow-x: hidden;
}

#nav-text-link {
    margin: 2px 10px;
    color: #ffffff;
    font-weight: 400;
}

#nav-bar {
    background-color: #343434;
    padding: 20px 0px;
}

.movie-datepicker-container {
    display: flex;
    justify-content: end;
    background-color: #424242;
}

#movie-datepicker .ant-picker-input {
    width: 300px;
    color: #6bbfff;
}

.ant-picker {
    width: 300px;
    margin: 20px 0px;
    margin-right: 110px;
    padding: 5px 10px;
    background-color: #6bbfff22;
    border: 2px solid #6bbfff;
}

.ant-picker-input > input {
    text-align: center;
    color: #6bbfff !important;
}

.ant-picker-input > input::placeholder {
    color: #6bbfff !important;
}

.ant-picker-suffix .anticon {
    color: #6bbfff !important;
}

.ant-picker-clear .anticon {
    color: #6bbfff !important;
}

.ant-picker-clear {
    background: #47525b !important;
}

.movies-section {
    min-height: 110vh;
    background-color: #424242;
    margin-bottom: 0;
    padding-bottom: 100px;
}

#movie-card {
    display: flex;
    width: 725px;
    background-color: #575757;
    margin: 10px;
    border-radius: 0;
    padding: 0 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.ant-card {
    border: none;
}

#movie-image {
    width: 200px;
    border-radius: 0;
    margin-top: 1px;
}

.ant-card .ant-card-meta-title {
    color: #6bbfff;
    font-size: 24px;
    overflow: visible;
    overflow-wrap: break-word;
}

.ant-card .ant-card-meta-description {
    color: #cacaca;
}

.ant-card-meta-detail {
    max-width: 450px;
    overflow-wrap: break-word !important;
}

.ant-dropdown-trigger > span {
    font-size: 40px !important;
    color: #6bbfff;
}

/* END OF ANT DESIGN COMPONENTS STYLING */

/* ---------------------------- END NAV BAR ------------------------------ */
